body {
  
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}


.heading {
    display: inline-block;
    font-size: 70px;
    color: rgb(239, 239, 241);
    background-color: rgb(39, 174, 96);
    border: 2px solid rgb(239, 239, 241);
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container > div {
    width: 1000px;
    margin-top: 50px;
    padding: 150px 10px;
    background-color: rgba(239, 239, 241, 0.918);
    border: 20px solid rgb(239, 239, 241);
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container > div h2 {
    font-size: 50px;
    color: rgb(70, 130, 180);
    margin-top: 20px;
}


.container > div p {
    font-size: 22px;
    color: rgb(70, 70, 70);
    margin-top: 10px;
    line-height: 1.6;
}


.container > div ul {
    list-style-type: disc; 
    padding: 0;
}

.container > div ul li {
    font-size: 18px;
    color: rgb(70, 70, 70);
    margin-top: 10px;
    line-height: 1.6;
}


.container > div ul li a {
    color: rgb(39, 174, 96);
    text-decoration: none;
}

.container > div ul li a:hover {
    text-decoration: underline;
}

