@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow-y: hidden;
    background-color: rgb(0, 0, 0); /* Set body background color to black */
    color: rgb(255, 255, 255); /* Set default text color to white */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex: none;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    background-color: rgb(0, 0, 0); /* Set section background color to black */
}

section p {
    margin-top: 30px;
    line-height: 30px;
    width: 85%;
    text-align: justify;
}

section h1, section h2 {
    color: rgb(255, 255, 255); /* Set heading text color to white */
}
